<!DOCTYPE html>
<html>
  <head>
    <nav>
      <a href="/">Forside</a>
      <a href="farver">Farver</a>
      <a href="om">Om</a>
      <a href="bookinger">Bil-Bookinger</a>
  </nav>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
